<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" integrity="sha512-dTfge/zgoMYpP7QbHy4gWMEGsbsdZeCXz7irItjcC3sPUFtf0kuFbDz/ixG7ArTxmDjLXDmezHubeNikyKGVyQ==" crossorigin="anonymous">
        <title>Metodologia</title>
    </head>

    <body>
        <nav class="navbar navbar-default">
          <div class="container-fluid">
            <div class="navbar-header">
              <a class="navbar-brand">Metodologia</a>
            </div>
            <ul class="nav navbar-nav">
              <li class="active"><a href="http://calculadoramercadolivre.com.br/metodologia">Metodologia</a></li>
              <li><a href="https://energialivre.cemig.com.br/duvidas-frequentes/">Dúvidas?</a></li>
              <li><a href="http://calculadoramercadolivre.com.br/#">Home</a></li>
            </ul>
          </div>
        </nav>
<div class="container">
<!--
        <div class="row">
            <form action="." method="POST">
                <textarea class="form-control" name="contents" placeholder="Enter a comment"></textarea>
                <input type="submit" class="btn btn-success" value="Post comment">
            </form>
        </div>
        <div class="row">
            <form>
                <div class="col-sm">
                  One of three columns
                </div>
                <div class="col-sm">
                  One of three columns
                </div>
                <div class="col-sm">
                  One of three columns
                </div>
-->
                <div class="container">
                    <label for="inputState">A metodologia para cálculo de desconto no mercado livre consiste em ... </label>
                    <button type="submit" class="btn btn-primary">Deseja enviar alguma dúvida ou sugestão?</button>

                </div><!-- /.container -->
    </body>
</html>